<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>C//S Blog &mdash; {{ post.title }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="author" content="Claudio Semeraro">
  <meta name="description" content="Tech lead at Loom">
  <meta name="keywords"
    content="senior fronted developer,javascript,js,html,css,node,react,sass,less,BEM,es6">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Google Analytics -->
  <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-24133188-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <style>
    {{{styleRaw}}}
  </style>
</head>

<body>
  {{> header}}
  {{{body}}}
</body>

</html>
